<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <title>Fundamentos VueJS</title>
  </head>
  <body>
    <div id="app">
      <nav class="navbar fixed-top navbar-dark bg-info">
        <span class="navbar-brand mb-0 h1">Hello Vue</span>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a href="#" class="nav-link" @click="displayCart=true">
              Cart {{ cart.length }}
            </a>
          </li>
        </ul>
      </nav>
      <div class="container mt-5">
        <h1>{{title}}</h1>
        <product-component
          :cart="cart"
          @add-to-cart="addToShoppingCart"
          @remove-to-cart="removeToShoppingCart"
          ref="product"
        ></product-component>
      </div>
      <div
        class="modal"
        :class="{show: displayCart}"
        :style="modalStyle"
        tabindex="-1"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Carrito de compras</h5>
              <button
                @click="displayCart=false"
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <ul>
                <li v-for="(item, key, index) in cartCheck">
                  {{ item }} - {{ key }}
                </li>
              </ul>
              <p></p>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
                @click="emptyCart"
              >
                Vaciar carrito
              </button>
              <button
                type="button"
                class="btn btn-primary"
                @click="displayCart=false"
              >
                Seguir comprando
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script type="text/x-template" id="product-template">
      <div class="row">
          <div class="col-md-6 img-thumbnail">
          <img :src="img" alt="foto libro">
          </div>
          <div class="col-md-6">
          <h2>{{name}}</h2>
          <p>{{description}}</p>
          <p>stock: {{stock}}</p>
          <p v-if="stock > 10">EN STOCK</p>
          <p v-else-if="stock <= 10 && stock > 0">QUEDAN POCAS UNIDADES</p>
          <p v-else>SIN STOCK</p>
          <p>Costo de envio: {{shipping}}</p>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01">Options</label>
            </div>
            <select v-model="selectedFormat" class="custom-select" id="inputGroupSelect01">

              <option v-for="format in formats" :value="format">{{format.type}}</option>
            </select>
          </div>
          <button :disabled="!hasStock" @click="addToCart"   class="btn btn-primary">Agregar al carro</button>
          <button class="btn btn-primary" @click="removeFromCart">Quitar del carro</button>
          </div>





      </div>
    </script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="./components/product.js"></script>
    <script src="main.js"></script>
  </body>
</html>
